<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Project 1: Article NLP Analysis
            </div>

        </header>

        <main>
            <section class="outline">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="art_url" type="text" name="input" value="" placeholder="Article URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="outline">
                <strong>Form Results:</strong>
                <div>
                    <span>Most Significant Label:</span> <span id="label"></span>
                </div>
                <div>
                    <span>Significance:</span> <span id="significance"></span>

                </div>

            </section>
        </main>

        <footer>
            <p>Amir Elkess</p>
        </footer>

    </body>
</html>
